
{% extends "layout.html" %}

{% block content %}

      <h4 class="title">Pot Holes Report</h4>
          <h3> All Potholes </h3>
    <table>
    {% for ID in phReport -%}
        <tr>
            <th>ID {{ phReport[ID].ID}} |</th>
            <td>StreetAddress: {{ phReport[ID].streetAddress}}</td>
            <td>|   District: {{ phReport[ID].district}}</td>
            <td>|   Severity: {{ phReport[ID].severity}}</td>
            <td>|   Size: {{ phReport[ID].size}}</td>
            <td>|   Priority: {{ phReport[ID].priority}}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}