
{% extends "layout.html" %}

{% block content %}

      <h4 class="title">Pot Holes Report</h4>
          <h3> All Potholes </h3>


    {% for ID in phReport -%}
        <p>ID: {{ phReport[ID].ID}}</p>
        <p>StreetAddress: {{ phReport[ID].streetAddress}}</p>
        <p>District: {{ phReport[ID].district}}</p>
        <p>Severity:  {{ phReport[ID].severity}}</p>
        <p>Size:  {{ phReport[ID].size}}</p>
        <p>Priority:  {{ phReport[ID].priority}}</p>
        <p> </p>

    {% endfor %}


{% endblock %}