
{% extends "layout.html" %}

{% block content %}


      <h4 class="title">Work Order Report</h4>
          <h3> All Work Orders </h3>

    {% for ID in woReport -%}

        <p>ID: {{ woReport[ID].ID}}</p>
        <p>Pothole ID: {{ woReport[ID].potHoleID}}</p>
        <p>Location: {{ woReport[ID].location}}  Size: {{ woReport[ID].size}}</p>
        <p>Repair Crew ID:  {{ woReport[ID].repairCrewID}}  Number of Workers:  {{ woReport[ID].numberOfWorkers}}</p>
        <p>Equipment Assigned:  {{ woReport[ID].equipmentAssigned}}  Hours Applied:  {{ woReport[ID].hoursApplied}}</p>
        <p>Hole Status:  {{ woReport[ID].holeStatus}}</p>
        <p>Number of Workers:  {{ woReport[ID].fillerMaterial}}</p>
        <p>Cost Esimate: $  {{ woReport[ID].costEstimate}}</p>
        <p> </p>


    {% endfor %}


{% endblock %}