
{% extends "layout.html" %}

{% block content %}


      <h4 class="title">Work Order Report</h4>
          <h3> All Work Orders </h3>

    <table style="margin: 3px">
    <tr style="background-color: #7cc3a97d">
        <th style="color: white;padding: 1rem">ID</th>
        <th style="color: white;padding: 1rem">Pothole ID</th>
        <th style="color: white;padding: 1rem">Location</th>
        <th style="color: white;padding: 1rem">size</th>
        <th style="color: white;padding: 1rem">Repair Crew ID</th>
        <th style="color: white;padding: 1rem">Workers</th>
        <th style="color: white;padding: 1rem">Equipment</th>
        <th style="color: white;padding: 1rem">Hours</th>
        <th style="color: white;padding: 1rem">Status</th>
        <th style="color: white;padding: 1rem">Material</th>
        <th style="color: white;padding: 1rem">Cost</th>
    </tr>

    {% for ID in woReport -%}

        <tr style="background-color: aliceblue">
        <td style="padding: 1rem">{{ woReport[ID].ID}}</td>
        <td style="padding: 1rem">{{ woReport[ID].potHoleID}}</td>
        <td style="padding: 1rem">{{ woReport[ID].location}}</td>
        <td style="padding: 1rem">{{ woReport[ID].size}}</td>
        <td style="padding: 1rem">{{ woReport[ID].repairCrewID}}</td>
        <td style="padding: 1rem">{{ woReport[ID].numberOfWorkers}}</td>
        <td style="padding: 1rem">{{ woReport[ID].equipmentAssigned}}</td>
        <td style="padding: 1rem">{{ woReport[ID].hoursApplied}}</td>
        <td style="padding: 1rem">{{ woReport[ID].holeStatus}}</td>
        <td style="padding: 1rem">{{ woReport[ID].fillerMaterial}}</td>
        <td style="padding: 1rem">${{ woReport[ID].costEstimate}}</td>

    {% endfor %}
</table>

{% endblock %}